h7{
    font-family: 'Lobster', cursive; 
    color: red; 
    font-size: 20px; 
}
h8{
    font-family: 'Lobster', cursive;  
    color: green; 
    font-size: 20px;
} 
h1{
    font-family: 'Oswald', sans-serif; 
    color: #337ab7;
} 
h9{
    font-size: 25px; 
    font-family: 'Oswald', sans-serif;
} 
#mainLogo{
    height: 175px;
    width: 175px; 
    margin-top: 20px;
} 
h10{
    font-family: 'Lobster', cursive; 
    color:black; 
    font-size: 20px;

}
#check{
    color:green; 
    float: right;
}
