h7{
    font-style: bold; 
    color: red; 
    font-size: 15px;

}
h8{
    font-style: bold; 
    color: green; 
    font-size: 15px;
} 
h1{
    font-family:'airbag';
} 
h9{
    font-size: 25px; 
    font-style: bold;
}
